.table {
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

.table th,
.table td {
    height: 24px;
    border: 1px solid #cbcbcb;
}

.table th{
    background: #000;
    color:#fff;
}

