/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 "Microsoft YaHei",Arial,Helvetica,sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

/*重置表单样式*/
button, input, select, textarea {
	border:0;
	outline: none;
	resize:none;
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; font-weight: normal;}
h3 { font-size: 14px; font-weight: normal;}
h4, h5, h6 { font-size: 100%; font-weight: normal;}

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

th{
	font-weight: normal;
}