.date-wrap{
  display: inline-block;
}
.date-select {
  display: none;
  margin-top: 8px; 
  border-radius: 8px;
  width: 500px;
  height: 356px;
  border: 1px solid #d0d2d5;
  background-color: #ffffff;
  position: absolute;

}
.date-select h2 {
  margin: 0;
  font-weight: normal;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 40px;
  background-color: #f4f5f7;
  border-bottom: 1px solid #e7e8eb;
  font-size: 14px;
  color: #afb0b0;
  line-height: 40px;
  padding-left: 15px;
}
.date-select table {
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
  table-layout: fixed;
  border-collapse: collapse;
}
.date-select table caption {
  margin: 15px 0;
}
.date-before{
  display: block;
  width: 0;
  height: 0;
  margin-left: 50px;
  border-top: 15px solid transparent;
  border-right: 30px solid #c8c9ca;
  border-bottom: 15px solid transparent;
  float: left;
  cursor: pointer;
}
.date-after{
  display: block;
  width: 0;
  height: 0;
  margin-right: 50px;
  border-top: 15px solid transparent;
  border-left: 30px solid #c8c9ca;
  border-bottom: 15px solid transparent;
  float: right;
  cursor: pointer;
}
.date-select table caption select {
  width: 24%;
  height: 28px;
  padding-right: 19px;
  border: 1px solid #cdcecf;
  box-sizing: border-box;
  font-size: 14px;
}
.date-select thead tr {
  height: 40px;
  border-top: 1px solid #a9cfec;
  border-bottom: 1px solid #e1e1e1;
}
.date-select .active {
  color: #fff;
  background: #0099ff;
}
.date-select tbody td {
  height: 40px;
  text-align: center;
}
.date-select tbody td p {
  line-height: 18px;
}

/* 可选的日期样式 */
.date-a {
  border-radius: 5px;
  transition: background .2s;
  cursor: pointer;
}

.date-a:hover{
  color: #fff;
  background: #0099ff;
}

/* 不可选的日期样式 */
.date-d {
  border-radius: 5px;
  background: #edeef3;
  cursor: pointer;
}